{% extends "base.html" %}

{% block titulo %}Contactanos{% endblock titulo %}
{% block cabeza %}Contactanos{% endblock cabeza %}
{% block interfaz %}<label for="mensaje">Mensaje:</label>
            <textarea id="mensaje" name="mensaje" rows="4" required></textarea>

            <button type="submit">Enviar Mensaje</button>{% endblock interfaz %}
{% block informacion %}<h2>Información de Contacto</h2>
            <p><strong>Correo Electrónico:</strong> MGOLZNEW@gmail.com</p>
            <p><strong>Número de Teléfono:</strong> +593 987654321</p>{% endblock informacion %}
