{% extends "base.html" %}

{% block titulo %}Subcripcion{% endblock titulo %}
{% block cabeza %}Suscríbete{% endblock cabeza %}
{% block interfaz %}<label for="mensaje">
            <button type="submit">Suscribirse</button>{% endblock interfaz %}
{% block informacion %}<h2>Beneficios de la Suscripción</h2>
            <p>Recibe las últimas noticias directamente en tu correo electrónico.

                Participa en sorteos y promociones exclusivas para suscriptores.
                
                Mantente informado sobre eventos especiales y novedades.</p>
            {% endblock informacion %}